<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <nav>
        <a href="/">Inicio</a>
        <a href="/create">Create</a>
        <a href="/recovery">Recovery</a>
        <a href="/update">Update</a>
        <a href="/delete">Delete</a>
    </nav>
    <h3>Cadastrar usuário:</h3>
    <form action="/enviar" method="post">
        <label for="">CPF: </label>
        <input type="text" name="cpf">
        <br>
        <label for="">Nome: </label>
        <input type="text" name="nome">
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>