<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Inicio</a>
        <a href="/create">Create</a>
        <a href="/recovery">Recovery</a>
        <a href="/update">Update</a>
        <a href="/delete">Delete</a>
    </nav>
    <h3>Dados enviados:</h3>
    Nome: {{nome}}<br>
    CPF: {{cpf}}
</body>
</html>