<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <form action="/enviar" method="post">
        <label for="">CPF: </label>
        <input type="text" name="cpf">
        <br>
        <label for="">Nome: </label>
        <input type="text" name="nome">
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>