<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery</title>
</head>
<body>
    <nav>
        <a href="/">Inicio</a>
        <a href="/create">Create</a>
        <a href="/recovery">Recovery</a>
        <a href="/update">Update</a>
        <a href="/delete">Delete</a>
    </nav>
    <h3>Buscar dados:</h3>
    <form action="/mostrar" method="post">
        <label for="">Informe seu CPF: </label>
        <input type="text" name="cpf">
        <button type="submit" >Buscar</button>
    </form>
</body>
</html>